body {
	baourskground-color: #f9f9f9;
	color: #999999;
	font-family: 'Ubuntu', sans-serif;
}

.btn {
	border-radius: 20px;
	color: white;
}

.btn:hover {
	color: #CCC;
}

.hover:hover {
	background-color: #EEE;
}

/* HEADER */

	.navbar-toggle .icon-bar {
		background-color: #1f6094;
		border-radius: 4px;
		height: 3px;
	}

	.navbar-toggle .icon-bar+.icon-bar {
	    margin-top: 3px;
	}

	.navbar-toggle {
		float:left;
		margin-left: 10px;
	}

	.left-logo {
		width: 16.66667%;
	}

	.header-logo {
		text-align: center;
	}

	.header-advanced-search {
		padding-left: 25px;
		cursor: pointer;
		color: #1f6094;
		font-size: 10pt;
		font-weight: bold;
	}


 	.header-search {
 		font-family: Arial, FontAwesome;
 	}


	.header-menu-icons {
		float: right;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;		
	} 

	.header-menu-icons a {
		color:#999;
		font-weight: bold;
		font-size: 9pt;
	}

	.header-menu-icons a:hover {
		text-decoration: none;
		color: #1f6094;
		font-weight: bold;
	}

	.header-menu-profile {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
		float: right;
		margin-left: 20px;
		background-size: cover;
		opacity: 0.8;		
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}

	.header-menu-profile:hover {
		-webkit-box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
		box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}

	.profile_links {
		top:55px;
	}

	.header-logo {
		max-width: 80%;
		max-height: 50px;
	}

	.header-logo-title {
		font-size: 9pt; 
		line-height: 10pt; 
		margin-top: 10px;
	}

/* ADVANCED SEARCH */
	.advanced_search_div {
		position: absolute;
		left: 120px;
		top: 30px;
		padding: 5px;
		background-color: white;
		-webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
		z-index: 1000;	
		display: none;
		min-width: 190px;
	}

	.advanced_search_div .panel-heading {
		background-color: #EEE;
		background-image:none;
		padding: 5px 10px;

	}

	.advanced_search_div .panel-title {
		font-size: 9pt;
		font-weight: bold;
		color: #1f6094;
	}

	.advanced_search_div .panel-collapse {
		font-size: 8pt;
		line-height: 9pt;
	}

	.advanced_search_div .panel-collapse {
		text-align: left;
	}

	.advanced_search_confirm_button{
		background-color: #95c325;
		color: #FFF;
		border-radius: 22px;
		padding: 2px 20px;
		margin-bottom: 5px;
	}

	.advanced_search_close_button {
		background-color: #cc3333;
		color: #FFF;
		border-radius: 22px;
		width:30px;
		height: 30px;
		padding: 2px;
		margin-bottom: 5px;
	}

	.advanced_search_div input[type=text], .advanced_search_div select {
	    padding: 2px 5px;
	    font-size: 9pt;
	    height: 22px;
    }


    .round_button {
    	position: relative;
        -webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
		height:30px;
		width: 30px;
		text-align: center;
		color: white;
		border-radius: 15px;
		padding-top: 3px;
		padding-left: 0px;
		padding-right: 0px;
		font-size: 15px;
		cursor: pointer;
		margin:5px;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;		
    }

    .round_button:hover {
		-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
		box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
    }

	.resource_options {
		position: absolute;
		white-space: nowrap;
		right: 50px;
		top: -30px;
		padding: 10px;
		background-color: white;
		z-index: 1000;
		-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
		display: none;
		color: #333;
		cursor: default;
	}



	/********* COLORS ********/

	/* course */
    .bck-course {
    	background-color: #1f6094;
    }

    .text-course {
    	color: #1f6094 !important;
    }

    /* lecture */
    .bck-lecture {
    	background-color: #5065e6;
    }

    .text-lecture {
    	color: #5065e6 !important;
    }

    /* tools */
    .bck-tools {
    	background-color: #9B26AF;
    }

    .text-tools {
    	color: #9B26AF !important;
    }

    /* study cases */
    .bck-study-case {
    	background-color: #e81d62;
    }

    .text-study-case {
    	color: #e81d62 !important;
    }


    /* projects */
    .bck-project {
    	background-color: #02A8F3;
    }

    .text-project {
    	color: #02A8F3 !important;
    }





    .hover-lecture:hover {
    	color: white !important;
    	background-color: #5065e6;
    }



    
/* LEFT FILTER MENU */

	.left_filter_menu {
		text-align: center;
	}

	.resources_title {
		margin-bottom: 20px;
		font-size: 13pt;
		font-weight: bold;
	}

	.resource_name {
		font-size: 10pt;
		line-height: 9pt;
		margin: 0px 0px 20px 0px;
		padding: 0px;
	}


/* FORMS */

	.form-control {
		border-radius: 16px;		
	}

	.dropdown_selector {
		color: #1f6094;
		font-size: 10pt;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 10px;

	}

/* SWITTCH RESOURCES */ 
	/* The switch - the box around the slider */
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 30px;
	}

	/* Hide default HTML checkbox */
	.switch input {display:none;}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		/*background-color: #FFF;*/
		-webkit-transition: .4s;
		transition: .4s;
		-webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 13px 0 rgba(0,0,0,.2);			
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 34px;
		width: 34px;
		left: -2px;
		bottom: -2px;
		background-color: #e6e6e6;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked + .slider {
		/*background-color: #2196F3;*/
	}

	input:focus + .slider {
		box-shadow: 0 0 1px rgba(0,0,0,.2);
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(30px);
		-ms-transform: translateX(30px);
		transform: translateX(30px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 30px;
	}

	.slider.round:before {
		border-radius: 50%;
	}

	/* courses switch */
	input:checked + .slider.round.courses_slider:before {
		background-color: rgb(31,96,148);
		background-image: url('/images/resource/course_off.png');
		background-size: 100%;
	}
	.slider.round.courses_slider:before {
		background-image: url('/images/resource/course_off.png');
		background-size: 100%;
	}

	/* lectures switch */
	input:checked + .slider.round.lectures_slider:before {
		background-color: rgb(80,101,230);
		background-image: url('/images/resource/lecture_off.png');
		background-size: 100%;
	}
	.slider.round.lectures_slider:before {
		background-image: url('/images/resource/lecture_off.png');
		background-size: 100%;
	}
	
	/* tools switch */
	input:checked + .slider.round.tools_slider:before {
		background-color: rgb(155,38,175);
		background-image: url('/images/resource/tool_off.png');
		background-size: 100%;

	}
	.slider.round.tools_slider:before {
		background-image: url('/images/resource/tool_off.png');
		background-size: 100%;
	}

	/* cases switch */
	input:checked + .slider.round.study_cases_slider:before {
		background-color: rgb(232,29,98);
		background-image: url('/images/resource/case_off.png');
		background-size: 100%;
	}
	.slider.round.study_cases_slider:before {
		background-image: url('/images/resource/case_off.png');
		background-size: 100%;
	}

	/* projects switch */
	input:checked + .slider.round.projects_slider:before {
		background-color: rgb(2,168,243);
		background-image: url('/images/resource/project_off.png');
		background-size: 100%;		
	}
	.slider.round.projects_slider:before {
		background-image: url('/images/resource/project_off.png');
		background-size: 100%;
	}

/* SWITTCH PLATFORMS */ 
	/* The switch - the box around the slider */
	.switch_platform {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 20px;
	}

	/* Hide default HTML checkbox */
	.switch_platform input {display:none;}

	/* The slider */
	.slider_platform {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		/*background-color: #FFF;*/
		-webkit-transition: .4s;
		transition: .4s;
		-webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 13px 0 rgba(0,0,0,.2);			
	}

	.slider_platform:before {
		position: absolute;
		content: "";
		height: 24px;
		width: 24px;
		left: -2px;
		bottom: -2px;
		background-color: #e6e6e6;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked + .slider_platform {
		/*background-color: #2196F3;*/
	}

	input:focus + .slider_platform {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider_platform:before {
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
		
	}

	/* Rounded sliders */
	.slider_platform.round {
		border-radius: 20px;
	}

	.slider_platform.round:before {
		border-radius: 50%;
	}

	/* courses switch */
	input:checked + .slider_platform.round.courses_slider:before {
		background-color: rgb(31,96,148);
		background-image: url('/images/resource/course_off.png');
		background-size: 100%;
	}
	.slider_platform.round.courses_slider:before {
		background-image: url('/images/resource/course_off.png');
		background-size: 100%;
	}

	.platform_name {
		font-size: 10pt;
		line-height: 9pt;
		margin: 0px 0px 20px 0px;
		padding: 0px;
	}

	/* lenses switch */
	input:checked + .slider_platform.round.lenses_patform_switch:before {
		background-color: #ff2a7f;
		background-image: url('/images/platform/es_off.png');
		background-size: 100%;

	}
	.slider_platform.round.lenses_patform_switch:before {
		background-image: url('/images/platform/es_off.png');
		background-size: 100%;
	}

	/* lensin switch */
	input:checked + .slider_platform.round.lensin_patform_switch:before {
		background-color: #ef8020;
		background-image: url('/images/platform/in_off.png');
		background-size: 100%;

	}
	.slider_platform.round.lensin_patform_switch:before {
		background-image: url('/images/platform/in_off.png');
		background-size: 100%;
	}

	/* lensit switch */
	input:checked + .slider_platform.round.lensit_patform_switch:before {
		background-color: #99c22f;
		background-image: url('/images/platform/it_off.png');
		background-size: 100%;

	}
	.slider_platform.round.lensit_patform_switch:before {
		background-image: url('/images/platform/it_off.png');
		background-size: 100%;
	}



	.resource_header_title {
		font-size: 14pt;
		opacity: 0.6;
	}


/** FOOTER  **/
	footer {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.social_icons {
		height: 30px;
		margin: 5px;
	}

	.table_view_image {
		height: 30px;
		border-radius: 50%;
		margin: 2px;
		-webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
		box-shadow: 0 0 7px 0 rgba(0,0,0,.2);			
	}

	.table_view_image.platform {
		height: 24px;
		width: 24px;
	}




/** RESOURCE PAGE */

.resource_header {
	width: 100%;
	text-align: center;
	padding: 20px;
	color: white;
	margin: 0px 0px 20px 0px;
}

.text-resource {
	color: #5b6ee3;	
}

.bck-resource {
	background-color: #5b6ee3;	
}

.resouce-button {
	background-image: url('/images/resource/course_off.png');
	background-size: cover; 
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
    border:none;
}


.content-header {
	border-bottom: 2px solid #e8e8e8;
	margin-bottom: 15px;
}

.pill {
	width: 100%;
	padding: 5px 15px;
	border-radius: 15px;
	color: white;
	font-size: 12pt;
}

.title {
	color: #b2b2b2;
	font-size: 11pt;
	margin-bottom: 7px;
}

.image {
	max-width: 100%;
	max-height: 1000px;
	width:100%;
}

.teacher {

}

.home_datatable tr{
	cursor: pointer;
}




.remove_teacher:hover .remove_teacher_button {
	opacity: 1;

	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.remove_teacher_button {
	position: absolute;
	top: 40px;
	right:35px;
	opacity: 0;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;

}

.alert {
	width: 100%;
	border-radius: 0px;
	/*
	right: 0;
	left: 0;
	position: absolute;
	top:0px;*/
	border: 0px none;
	z-index: 10000;
}


/* LECTURES */

.lecture_div {
	margin: 10px 10px 15px 10px; 
	margin-top: 10px; 
	background-color: #f9f9f9;
	padding: 10px;
}

.progress {
    margin-bottom:0;
    margin-top:6px;
    margin-left:10px;
}


.resource {
	float: left;
	border: 1px dotted green;
	width: 140px;
	height: 100px;
	margin:5px;
	padding: 5px;
	background-color: white;
}


.course_author_image {
	width: 100%;
	height: 250px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.bottom_cover {
	position: absolute;
	height: 25%;
	width: 100%;
	min-height: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 10px;
	opacity: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.course_author_image:hover > .bottom_cover {
	opacity: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}



.course_image_div {
	width: 100%;
	position: relative;
}

.course_image_div:hover > .bottom_cover {
	opacity: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}



.image_container {
	width: 100%;
	min-height: 100px;
	background-color: white;
	color: #CCC;
	position: relative;
}

.image_container_inner:hover > .image_change_bottom_cover {
	opacity: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}


.image_change_bottom_cover {
    position: absolute;
    height: 70px;
    min-height: 60px;
    bottom: 0;
    left: 15px;
    right: 15px;
    text-align: center;
    padding: 10px;
    opacity: 0;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}





.nav-course.active {
	background-color: #1f6094;
	color: white;
}

.nav-course.active a{
	color: white;
}


.nav-study-case.active {
	background-color: #e81d62;
	color: white;
}

.nav-study-case.active a{
	color: white;
}



.bck-gray {
	background-color: #f2f2f2;
}

.bck-darkgray {
	background-color: #666666;
}

.radio_course + label{
	background-color: #f2f2f2;
	color: #666;
}


.radio_course:checked + label {
   background-color: #c3c3c3;
	color: white;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.panel-default .panel-heading {
	background-color: #f2f2f2;
	background-image: none;
}

.video-js {
	width: 100%;
	height: 400px;
}

.no-preview {
	width: 100%;
	height: 100%;
	min-height: 150px;
	border: 2px dashed #CCC; 
	text-align: center;
	padding-top: 50px;
	color: #CCC;
	font-weight: bold;
}

.resource-hover:hover {
	color: white;
	background-color: #5b6ee3;
}

.resource-hover {
	padding-top: 5px; 
	padding-bottom: 5px; 
	background-color: white;
}

.resource-div {
	padding-top: 5px; 
	padding-bottom: 5px; 
	background-color: white;
}


.sortable_ul {
	padding:0px;
}

.sortable_li {
	list-style-type: none;
	background-color: #f9f9f9;
}

.collapsable_arrow {
	width: 30px;
    text-align: center;
    position: absolute;
    right: 35px;
    top: 19px;
    font-size: 18px;
    color: #1f6094;
    cursor: pointer;
}

.movable_arrow {
	width: 30px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 18px;
    color: #1f6094;
    cursor: move;
}

.movable_arrow_lecture_grid {
	width: 30px;
    text-align: center;
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 18px;
    color: #1f6094;
    cursor: move; 
}

.movable_arrow_lecture {
    width: 30px;
    text-align: center;
    position: absolute;
    right: -20px;
    top: 0px;
    font-size: 18px;
    color: #5065e6;
    cursor: move;    
}


.dropdown{
	z-index:1049;
}


.criteria_li {
	list-style-type: none;
}

.sortable_div_0, .sortable_div_1, .sortable_div_2, .sortable_div_3  {
	padding-top: 10px;
	padding-bottom: 10px;
}

.sortable_div_0 {
	background-color: white;
}

.sortable_div_1 {
	background-color: #EEE;
}

.sortable_div_2 {
	background-color: #DDD;
}

.sortable_div_3 {
	background-color: #CCC;
}
 

.top-padding-small {
	padding-top: 7px;
}

.padding-small {
	padding-top: 7px;
	padding-bottom: 7px;
}

.row-links tr{
	cursor: pointer;
}

/* DROPZONE */
.dropzone_div {
	padding: 10px 20px;
	background-color: white;
	border: 2px dotted #CCC;
	font-size: 14px;
	color: #CCC;
	width:100%;
	text-align: center;
	margin-top: 5px;

}

.resource_hr {
	margin: 0;
	margin-bottom: 10px;
	margin-top: 10px;
    border: 0;
    border-top: 1px solid #CCC;
}

.resource_view_selector {
	font-size: 16pt;
	margin-right: 5px;
	cursor: pointer;
}

.resource_view_selector:hover {
	text-shadow: 
	-webkit-text-shadow: 0 0 10px rgba(0,0,0,.3);
	text-shadow: 0 0 10px #424242;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

#wait {
	display: none;
	color: #CCC;
	text-align: center;
}


.lecture_grid_image {
	width: 100%;
	background-position: center;
	background-size: cover;
	background-color: #FFF;
	font-size: 30pt;
	color: #DDD;
	text-align: center;
	height: 150px;
	padding-top: 50px;
}

.lecture_grid_text {
	padding: 10px;
	height: 150px;
	background-color: #e6e6e6;
}



.lecture_bottom_cover {
	position: absolute;
	height: 150px;
	left: 30px;
	right: 30px;
	bottom: 0;
	text-align: center;
	opacity: 0;
	background-color: #1F6094;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.lecture_grid:hover > .lecture_bottom_cover {
	opacity: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.lecture_grid_li {
	margin-bottom: 20px; 
	margin-top: 20px; 
	list-style-type: none;
}

.tooltip_text {
	color: #1E72BD;
	padding-left: 5px;
}

.ui-tooltip-content {
    font-size:10pt;
	font-family: 'Ubuntu', sans-serif;
	padding: 0px;
}


.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	background-color: white;
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 20px 0 rgba(0,0,0,.2);		
}
body .ui-tooltip {
	border-width: 2px;
}


.shadow {
	-webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
	box-shadow: 0 0 20px 0 rgba(0,0,0,.2);	
}



.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


.lecture_grid_image_add {
	width: 100%;
	height: 300px;
	padding-top: 70px;
	color: #E6E6E6;
	text-align: center;
	background-color: white;
}


.ui-dialog {
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
	z-index: 50000000;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 0;
	white-space: nowrap;
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 20px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 20px;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-n {
	height: 2px;
	top: 0;
}
.ui-dialog .ui-resizable-e {
	width: 2px;
	right: 0;
}
.ui-dialog .ui-resizable-s {
	height: 2px;
	bottom: 0;
}
.ui-dialog .ui-resizable-w {
	width: 2px;
	left: 0;
}
.ui-dialog .ui-resizable-se,
.ui-dialog .ui-resizable-sw,
.ui-dialog .ui-resizable-ne,
.ui-dialog .ui-resizable-nw {
	width: 7px;
	height: 7px;
}
.ui-dialog .ui-resizable-se {
	right: 0;
	bottom: 0;
}
.ui-dialog .ui-resizable-sw {
	left: 0;
	bottom: 0;
}
.ui-dialog .ui-resizable-ne {
	right: 0;
	top: 0;
}
.ui-dialog .ui-resizable-nw {
	left: 0;
	top: 0;
}